version: "3"
services:
  nginx:
    links:
      - node:node
    container_name: jalas-nginx
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - node

  node:
    links:
      - db:db
    container_name: jalas-node
    build:
      context: ../
      dockerfile: docker/node/Dockerfile
    volumes:
      - pg-data:/var/lib/postgresql/data
    depends_on:
      - db

  db:
    container_name: jalas-db
    build: ./db
    volumes:
      - pg-data:/var/lib/postgresql/data
    env_file:
      - ./db/docker.env

volumes:
  pg-data:
    driver: local