version: "3"
services:
  backend-nginx:
    links:
      - node:node
    container_name: jalas-backend-nginx
    build: ./nginx
    image: jalas-backend-nginx
    ports:
      - "8080:80"
    depends_on:
      - node

  backend-node:
    container_name: jalas-backend-node
    build:
      context: ../
      dockerfile: docker/node/Dockerfile
    image: jalas-backend-node