version: "3"
services:
  postgres:
    container_name: jalas-postgres
    build: .
    ports:
      - "2000:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    env_file:
      - docker.env

  pgadmin:
    links:
      - postgres:postgres
    container_name: jalas-pgadmin
    image: dpage/pgadmin4
    ports:
      - "2001:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    env_file:
      - docker.env

volumes:
  pg-data:
    driver: local
  pgadmin-data:
    driver: local
